{% extends './base.html' %}
{% load bootstrap4 %}
{% block content_section %}
<div class="container margin-top-md roboto color-white" id="signUpFormContainer">
    <h2>Updating {{hall_name}} Videos</h2>
    <form method="post" id='new_video'>
        {%csrf_token%}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary" value="Save">
        <a href="{% url 'halls:hall' hall_id=hall_id%}" class='btn btn-danger'>Cancel</a>
    </form>
    <hr>
    <div class="container">
        <h2>OR</h2>
        <form>
            {% bootstrap_form search_form %}
        </form>
    </div>

    <div id="search_results" class="container row">
    </div>
</div>
{% endblock %}