{% extends './base.html' %}

{% block content_section%}
<div class="container roboto margin-top-md roboto color-white">
    <h1>{{hall.title}}</h1>
    <h2 class='text-muted'>{{hall.author}}</h2>

    <div class="container">
        <h2> Videos! </h2>
        <div class="container">
            <div class="container row">
                {% for video in videos %}
                <div class="col-md">
                    <h3>{{video.url}}</h3>
                    <h5>{{video.title}}</h5>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if user == hall.author %}
    <div class="margin-top-md">
        <a href="{% url 'halls:update_hall' hall_id=hall.id%}" class='btn btn-primary'>
            Update
        </a>
        <a href="{% url 'halls:add_video' hall_id=hall.id%}" class='btn btn-primary'>
            Add Videos
        </a>
        <a href="{% url 'halls:delete_hall' hall_id=hall.id%}" class='btn btn-danger'>
            Delete
        </a>
    </div>
    {% endif %}
</div>
{%endblock%}