{% extends './base.html' %}

{% block content_section%}
<section class="jumbotron text-center roboto">
    <div class="container">
        <h1 class="jumbotron-heading"> What's your personal Hall of Fame?</h1>
        <p class="lead text-muted">
            Here you can share your favorite videos of YouTube with the world!
        </p>
        <p class="lead text-muted">
            Hit the button bellow to start now!
        </p>
        <a class='btn btn-primary' href="{%url 'halls:new_hall'%}">
            Start Now!
        </a>
    </div>
</section>
<div class="container roboto margin-top-md color-white">
    {% if halls %}
    <div class="text-center">
        <h2> All Hall of Fames </h2>
    </div>
    <div class='col'>
        {%for hall in halls%}
        <div class="container row margin-top-md">
            <div class="color-white container">
                <h3 class="mb-1 font-weight-light">{{hall.title}}</h5>
                    <h5 class="mb-1 font-italic">{{hall.author}}</h5>
                    <small>Created on {{hall.creation_date| date:"d-m-Y h:i"}}</small>
            </div>
            <div class="d-flex w-100 justify-content-between row">
                {%for video in hall.video_set.all%}
                {% include 'partials/video_card.html' %}
                {% endfor %}
            </div>
            <div class="container margin-top-sm">
                <a href="{% url 'halls:hall' hall_id=hall.id %}" class="btn btn-primary">
                    See Details
                </a>
            </div>
        </div>
        {%endfor%}
    </div>
    {% else %}
    <h2>No halls</h2>
    {% endif %}
</div>
{%endblock%}