{% extends './base.html' %}

{% block content_section%}
<div class="container roboto margin-top color-white">
    {% if halls %}
    <div class="list-group">
        {%for hall in halls%}
        <a href="{% url 'halls:hall' hall_id=hall.id %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 font-weight-light">{{hall.title}}</h5>
            </div>
            <p class="mb-1 font-italic">{{hall.author}}</p>
            <small>Created on {{hall.creation_date| date:"d-m-Y h:i"}}</small>
        </a>
        {%endfor%}
    </div>
    {% else %}
        <h2>No halls</h2>
    {% endif %}
</div>
{%endblock%}