<div class="col-md-4">
    <div class="card shadow-sm margin-top-sm">
        <iframe width="100%" height="150" src="https://www.youtube.com/embed/{{video.youtube_id}}" frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div class="card-body">
            <h5 class="card-title">{{video.title}}</h5>
        </div>
        {% if user == hall.author %}
        <a href="{% url 'halls:delete_video' video_id=video.id hall_id=hall.id%}" class='btn btn-danger'>
            Delete
        </a>
        {% endif %}
    </div>
</div>